
mixin rate-button(name, value=3, rateAttributes)
  // rate-button
  .rate-button&attributes(rateAttributes)
    - var count=0;
    while count<5
      input.rate-button__input(
          type="radio"
          name=name
          value=++count 
          id=Id.nextId() 
          checked=(count==value)
      )&attributes(attributes)
      label.rate-button__label(for=Id.id())
  // /rate-button