mixin radiobutton(name, value, checked, radioAttrs, inputAttrs, labelAttrs, presentationAttrs)
  // radiobutton
  .radiobutton&attributes(radioAttrs)
    input.radiobutton__input(
      type="radio" 
      id=Id.nextId()
      name=name
      value=value
      checked=checked)&attributes(inputAttrs)
    label.radiobutton__label(for=Id.id())&attributes(labelAttrs)
      span.radiobutton__presentation&attributes(presentationAttrs)
      block
  // radiobutton