
mixin checkbox(name, checked, checkboxAttrs, inputAttrs, labelAttrs, presentationAttrs)
  .checkbox&attributes(checkboxAttrs)
    input.checkbox__input(
      type="checkbox"
      id=Id.nextId()
      name=name
      checked=checked)&attributes(inputAttrs)
    label.checkbox__label(for=Id.id())&attributes(labelAttrs)
      .checkbox__presentation&attributes(presentationAttrs)
      block