mixin toggle(name, checked, toggleAttrs, inputAttrs, labelAttrs, presentationAttrs)
  // toggle
  .toggle&attributes(toggleAttrs)
    input.toggle__input(
      type="checkbox" 
      id=Id.nextId()
      name=name
      checked=checked)&attributes(inputAttrs)
    label.toggle__label(for=Id.id())&attributes(labelAttrs)
      span.toggle__presentation&attributes(presentationAttrs)
      block
  // /toggle